<div id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a ui-sref="home">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a ui-sref="channels.home">
          <span><strong>CHANNELS</strong></span>
        </a>
      </div>
    </div>
    <div class="pull-right navbar-brand">
      <a href=""  ui-sref="channels.manage">
        <span class="glyphicon glyphicon-cog"></span>
        <span><strong> MANAGE</strong></span>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div ui-view></div>
</div>
