<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-4">
    <img class="pic-img" ng-src="{{currChan.img}}" />
  </div>
  <div class="col-md-8 col-sm-5 col-xs-8">
    <h1 class="channel-title">{{currChan.title}}</h1>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-5">
    <div ng-show="currChan.search" class="right-inner-addon">
		  <form name="form" ng-submit="form.query.$valid && search(query)">
        <i class="fa fa-search"></i>
        <input onClick="this.setSelectionRange(0, this.value.length)" ng-model="query" type="search" name="query" class="form-control" placeholder="Search" required />
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="feed-list col-xs-12">
    <span ng-repeat="f in currChan.feedlist">
      <a ng-class="f.active" href="" ng-click="showFeed($index)">{{f.title}}</a>
      <i ng-if="!$last" class="fa fa-circle"></i>
    </span>
  </div>
</div>
<hr />
<div ui-view></div>
