<form name="editItemForm" role="form" ng-submit="editItemForm.itemname.$valid && saveItem(item)">
  <div class="row">
    <div class="col-md-7 col-sm-8 col-xs-12">
      <div class="form-group">
        <label for="playlistName">Name:</label>
        <input type="text" name="itemname" ng-model="item.title" class="form-control" id="playlistName" autofocus required/>
      </div>
      <div class="form-group">
        <label for="playlistSubtitle">Subtitle:</label>
        <input type="text" ng-model="item.subtitle" class="form-control" id="playlistSubtitle" />
      </div>
      <div class="form-group">
        <label for="playlistSynopsis">Synopsis:</label>
        <input type="text" ng-model="item.synopsis" class="form-control" id="playlistSynopsis" />
      </div>
      <div class="form-group">
        <label for="playlistImg">Thumbnail:</label>
        <input type="text" ng-model="item.img" class="form-control" id="playlistImg" />
      </div>
    </div>
  </div>
  <label ng-show="item.items">Items:</label>
  <div ng-repeat="i in item.items" class="row bottom-spacer">
    <div class="col-md-6 col-sm-7 col-xs-10">
      {{i.title}}
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2">
      <a ng-show="!$first" href="" ng-click="moveUp(i)" class="pull-left glyphicon glyphicon-arrow-up"></a>
      <a ng-show="!$last" href="" ng-click="moveDown(i)" class="pull-right glyphicon glyphicon-arrow-down"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-sm-8 col-xs-12">
      <button type="button" ng-click="goBack()" class="btn btn-default pull-right">Cancel</button>
      <button type="submit" class="btn btn-primary pull-right btn-spacer">Save</button>
    </div>
  </div>
</form>  
