<div id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a ui-sref="home">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a ui-sref="playlink.items">
          <span><strong>PLAY URL</strong></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  	<div class="col-xs-12" style="text-align:center">
      <h2>What to Play?</h2>
	  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4" style="text-align:center">
      <form name="form" ng-submit="form.playurl.$valid && createitem(playurl)">
        <input class="form-control oneline-input" onClick="this.setSelectionRange(0, this.value.length)" name="playurl" type="text" ng-model="playurl" autofocus required></input>
	  	</form>
  	</div>
  </div>
  <div class="row img-search-result search-result">
  	<div class="col-xs-12" style="text-align:center">
  		<h5 class="subtext">Enter a URL, Torrent or Magnet Link</h5>
  	</div>
  </div>
  <div ui-view></div>
</div>
