<div id="topnav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a ui-sref="home">
          <span class="glyphicon glyphicon-home"></span>
        </a>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a ui-sref="search">
          <span><strong>SEARCH</strong></span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4">
      <img class="pic-img" ng-src="/img/search.png" />
    </div>
    <div class="col-md-8 col-sm-5 col-xs-8">
      <h1 class="channel-title">Search</h1>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-5">
      <div class="right-inner-addon">
	  	  <form name="form" ng-submit="form.query.$valid && doSearch(query)">
          <i class="fa fa-search"></i>
          <input onClick="this.setSelectionRange(0, this.value.length)" ng-model="query" type="search" name="query" class="form-control" placeholder="Search" required autofocus />
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="feed-list col-xs-12">
      <span ng-repeat="r in allResults">
        <a ng-class="isActive($index)" href="" ng-click="showResults($index)">{{r[0]}}</a>
        <i ng-if="!$last" class="fa fa-circle"></i>
      </span>
    </div>
  </div>
  <hr />
  <div ui-view></div>
</div>
