/*
 * Global defaults
 */
body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background-color: #2A435A;
}

a, a:hover, a:visited {
  color: #FFFFFF;
}

hr {
  border-top: 2px ridge rgba(67, 98, 129, 0.6);
}

.error-msg {
  color: #A94442;
}

a.underline {
  text-decoration: underline;
}

/*
 * Top navbar
 */
.topnav {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
  background-color: rgb(52, 152, 219);
  border: none;
  font-weight: bold;
}

.topnav .navitems>li>a:hover {
  color: #2A435A;
  background-color: #FFFFFF;
}


/*
 * Player navbar
 */
.playnav {
  background-color: #F8F8F8;
  color: #333;
}

.playnav .navitems>li>a {
  color: #333;
}

.playnav .navitems>li>a:hover {
  background-color: #e6e6e6;
}

.playnav .navitems>li>a.close:hover {
  background-color: #F8F8F8;
}

/* 
 * Channels
 */
.channel-logo {
  border-radius: 10px;
}

/* Search box eye glass */
.right-inner-addon i {
  color: rgb(51, 51, 51);
}

/* Channel feed list */
.channel-feeds .dot-sep {
 color: #90B8DD;
}

.channel-feeds a.selected {
  background-color: rgb(52, 152, 219);
  border-radius: 3px;
}

/* item list */
.item-row a:hover {
  text-decoration: underline;
}

.item-img {
  border-radius: 10px;
}

.item-subtitle, .item-subtitle a {
  color: #90B8DD;
}

a.item-action {
  border-color: #FFFFFF;
  border: 1px solid #A9A9A9;
  text-decoration: none;
}

a.item-action:hover {
  border: 1px solid #FFFFFF;
  text-decoration: none;
}

/*
 * More episodes/torrent files 
 */
.showmore-title {
  font-size: 25px;
}

/* 
 * Popovers
 */
.webui-popover {
  background-color: #4C7488;
}

/*
 * All this to change arrow color ;-(
 */
.webui-popover.top > .arrow:after,
.webui-popover.top-right > .arrow:after,
.webui-popover.top-left > .arrow:after {
  border-top-color: #4C7488;
}

.webui-popover.right > .arrow:after,
.webui-popover.right-top > .arrow:after,
.webui-popover.right-bottom > .arrow:after {
  border-right-color: #4C7488;
}

.webui-popover.bottom > .arrow:after,
.webui-popover.bottom-right > .arrow:after,
.webui-popover.bottom-left > .arrow:after {
  border-bottom-color: #4C7488;
}

.webui-popover.left > .arrow:after,
.webui-popover.left-top > .arrow:after,
.webui-popover.left-bottom > .arrow:after {
  border-left-color: #4C7488;
}
